<nav class="app-nav">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="h1">My Store</h1>
            <ul class="ul-links">
                <li> <a class="" routerLink="/productlist">Product List</a> </li>
                <li> | </li>
                <li>
                    <a class="" routerLink="/cartList">
                        Cart
                        <img class="cart-image"
                            src="https://www.publicdomainpictures.net/pictures/400000/nahled/image-16184009141SS.png"
                            alt="Cart" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>