<div class="container">
    <div class="row" *ngIf="isLoading">
        <div class="col-md-12 text-center">
            <p>Loading ....</p>
        </div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-md-4" *ngFor="let product of products">
            <product-item [product]="product" [isExistsInCart]="isProductExistsInCart(product.id)"
                (addToCart)="addToCart($event)" (removeFromCart)="removeFromCart($event)"></product-item>
        </div>
    </div>
</div>